:root {
  --bg-purple: #7D84B2;
  --bg-purple-light: #8E9DCC;
  --text-light: #F5F5F5;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-purple);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list {
  flex: 1;
  height: fit-content;
  padding-top: 50px;
  margin-left: 16px;
}

.container-center {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F5F5;
}

.form {
  max-height: 800px;
  width: 600px;
  margin: 20px 0;
  padding: 20px;

  background-color: var(--bg-purple);
  border-radius: 8px;
  display: flex;
  flex: 1;
}

.form label {
  font-weight: bold;
}
