:root {
  --bg-purple: #7D84B2;
  --bg-purple-light: #8E9DCC;
  --text-light: #F5F5F5;
  --bg-main: #a8dadc;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #F5F5F5;

  display: grid;
  grid-template-rows: 80px 1fr;
}

.container main {
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
}

.list {
  height: 100%;
  padding: 36px;
  background-color: var(--bg-main);
  border-radius: 8px;
  margin-bottom: 0;
}

.form {
  max-height: 800px;
  width: 600px;
  margin: 20px 0;
  padding: 20px;

  background-color: var(--bg-purple);
  border-radius: 8px;
  display: flex;
  flex: 1;
}

.form label {
  font-weight: bold;
}
