.login-container {
  display:flex;
  flex:1;
  height: 100vh;
  align-items: center;
  justify-content:center;
}

.card {
  display:flex;
  flex-direction: column;
  padding: 40px;
  padding-top: 10px;
  justify-content:center;
  background-color: var(--bg-purple);
  height: 400px;
  width: 600px;
  border-radius:10px;
}

form {
  display:flex;
  flex-direction: column;
}

h2, label {
  color: var(--text-light);
}

h2 {
  width: 100%;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}

input {
  height: 38px;
  border-radius: 5px;
  border: 1px solid transparent;
  margin: 10px 0;
}

.btn-login {
  height:48px;
  width: 100%;
  margin-top: 16px;

  color: var(--bg-purple);
  background-color: var(--text-light);
  
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
}

.btn-login:disabled {
  filter: brightness(85%);
}

.btn-login:hover:not(:disabled) {
  filter: brightness(100%);
}